<div id="search-panel-container" class="search-panel-container" >
  <p class="md-title">Search</p>

  <md-input-container class="md-body-1" md-no-float="">
    <input
      id="search-query"
      type="text"
      ng-model="$ctrl.query"
      ng-keydown="$ctrl.handleOnSearchQueryKeydown($event)"
      placeholder="repository"
      maxlength="60" />
  </md-input-container>

  <md-button
    id="search-button"
    class="md-primary"
    ng-click="$ctrl.triggerSearch()"
  >Search</md-button>

  <md-button
    id="clear-button"
    ng-click="$ctrl.handleOnClearButtonClick()"
    ng-disabled="$ctrl.isQueryEmpty()"
  >Clear</md-button>
</div>
