.app-container > md-content {
  margin-top: 4px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 0;
}

.app-container md-progress-circular {
  position: relative;
  display: inline;
  top: 13px;
  left: 500px;
}
